* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img,
video,
iframe {
  vertical-align: middle;
  max-width: 100%;
}

address,
i,
em {
  font-style: normal;
}

.blind {
  position: absolute;
  top: -100000000000000000000000000000000000000000px;
}

.flex {
  display: flex;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: #000;
  word-break: keep-all;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.title-box {
  text-align: center;
}

.sub-title {
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  color: #000;
}

.text-title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 1720px) {
  .inner {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1279px) {
  body {
    font-size: 14px;
  }
  .inner {
    padding: 0 20px;
  }
}
@media screen and (max-width: 797px) {
  body {
    font-size: 12px;
  }
}